/* =================
General Styles
================= */

body, h1, h2, h3, p, ul, li {
  margin: 0;
}

/* =================
Typography
================= */

/* 
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/ 

.header-text h1 {
  font: 33px/42px Lora;
  letter-spacing: 0px;
  color: #143774;
  
}

.header-text p {
  font: normal normal bold 12px/13px Ubuntu;
  letter-spacing: 2.4px;
  color: #1792D2;
  text-transform: uppercase;
}

nav li a {
  font: normal normal bold 16px/18px Ubuntu;
  letter-spacing: 3.2px;
  color: #717171;
  text-transform: uppercase;  
  text-decoration: none;
}

small {
  font: normal normal normal 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
}

.blog-post-text h1 {
  font: normal normal normal 24px/28px Lora;
  /*letter-spacing: 4.8px;*/ 
  color: #143774;  
}

.blog-post-text p {
  font: normal normal 300 18px/28px Ubuntu;
  /*letter-spacing: 3.6px;*/
  color: #707070;
}

.blog-post-text b {
  /* font-weight: bold */ 
}

.blog-post-text a {
  text-decoration: underline;
  color: #1792D2;
}

a.continue-reading {
  font: normal normal bold 14px/28px Ubuntu;
  letter-spacing: 2px;
  /*letter-spacing: 2.8px;*/
  color: #1792D2;
  text-transform: uppercase;
  text-decoration: none;
}

aside h2 {
  font: normal normal bold 18px/24px Ubuntu;
  /*letter-spacing: 3.6px;*/
  color: #143774;
  text-transform: uppercase;  
}

aside h3 {
  font: normal normal normal 18px/28px Lora;
  letter-spacing: 0px;
  color: #143774;  
}

aside p {
  font: normal normal 300 14px/24px Ubuntu;
  letter-spacing: 0px;
  color: #143774;
}

footer .container p {
  font: normal normal bold 18px/28px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 0.54;
}

.copyright {
  font: normal normal 300 18px/28px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
}


/* =================
Layout  
================= */

.container {
  width: 90%;
  margin: 0 auto;

}

/* Header */ 
header {
  background: #F8F8F8 0% 0% no-repeat padding-box;
  height: 330px;
}

.header-text {
  margin-bottom: 40px;
}

.container-nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
}


/* Main Content */ 

main {
  padding: 70px 0;
}

.recent-post img, .blog-post img {
  max-width: 500px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: 25% 25%; 
  margin: 0 auto;
}

.recent-post .blog-post-text {
  border-bottom: 2px solid #707070; 
  margin-bottom: 40px;
}

.recent-post small {
  display: block;
  margin: 20px 0 10px 0;
}

.blog-post {
  margin-top: 40px;
}

.blog-post-text p {
  margin: 25px 0;
}

.blog-post img {
  margin-bottom: 10px;
}

.blog-post-img {
  position: relative;
}
.blog-post small {
  position: absolute;
  right: 0;
  bottom: -15px;
}

/* Sidebar Content */
aside {
  margin-top: 60px;
}

.sidebar-about-me, .sidebar-recent-posts {
  border: 20px solid #EBEBEB;
  padding: 25px;
}

aside img {
  max-width: 420px;
  width: 100%;
  max-height: 90px;
  object-fit: cover;
  margin: 40px 0 10px 0;
}

.sidebar-img-1 {
  object-position: 25% 25%; 
}

.sidebar-img-2 {
  object-position: 25% 45%; 
}
.sidebar-img-3 {
  object-position: 25% 93%; 
}
.sidebar-img-4 {
  object-position: 25% 61%; 
}
.sidebar-about-me {
  margin-bottom: 70px;
}

.sidebar-post {
  border-bottom: 2px solid rgba(112, 112, 112, 0.5);
  padding-bottom: 10px;
}

.sidebar-post:last-child {
  border: none;
}


/* Footer */ 
footer {
  background: #143774 0% 0% no-repeat padding-box;
  text-align: center;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: block;
}


/* =================
Media Queries
================= */

@media screen and (max-width: 1000px) {
  .container {
    max-width: 1005px; 
  }
}